.header {
    background: linear-gradient(90deg, #001b2f 0%, #005695 100%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 18vh;
  }

  .logoHeader {
    display: flex;
    width: 25%;
    justify-content: space-around;
    align-items: center;
    height: 20vh;
    
    
  
    img {
      width: 17%;
      display: flex;
      padding-bottom: 2vh;
    }
  
    h1 {
      font-size: 30px;
      color: #fff;
    }
  }
 
  .navHeader {
    width: 30%;
  
    ul {
      display: flex;
      justify-content: space-around;
      list-style: none;
      
    }
   
  
    .link {
      color: white;
      font-size: 20px;
      text-decoration: none;
    }
  }
  
  .barraDeBusca {
    border: solid #fff;
    border-radius: 20px;
    margin-right: 1%;
    padding-right: 2px;
    width: 20%;
    height: 6vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
  
    input {
      background-color: transparent;
      border: none;
      width: 81%;
      height: 5vh;
  
      &::placeholder {
        color: #fff;
        font-size: 20px;
      }
    }
  
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
    }
  }


  @media (max-width: 800px){
     .header{
      flex-direction: column;
      height: 25vh;
      justify-content: space-evenly;
     }
     .logoHeader{
      width: 90%;
     }
     .navHeader{
      width: 90%;
     }
     .barraDeBusca{
      display: none;
     }
  }